 <!-- reset -->
<div class="login">
    <div class="container">

        <h3 class="animated wow zoomIn" data-wow-delay=".5s">Reset</h3>

        <p class="est animated wow zoomIn" data-wow-delay=".5s">Welcome to the most useless thing in the entire universe.</p>

        <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
            <form id="forget_form" novalidate>

                <div class="alert alert-danger" role="alert" id="error_message" hidden>
                    <strong>Oh snap!</strong> Check Your Input.
                </div>

                <input type="email" placeholder="Email Address" id="forget_email">
                <input type="submit" value="Send Reset Mail">
            </form>
        </div>
        <h4 class="animated wow slideInUp" data-wow-delay=".5s">For New People</h4>
        <p class="animated wow slideInUp" data-wow-delay=".5s"><a href="register.html">Register Here</a> (Or) go back to <a href="index.html">Home<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
    </div>
</div>
<!-- //reset -->

<script src="/js/komy/common.js"></script>
<script src="/js/komy/forget.js"></script>