<div class="checkout">
    <div class="container">
        <h3 class="animated wow slideInLeft" data-wow-delay=".5s">
            Payment gateway not implemented due to low budget, you can help implementing by donating to:
            <span>
                1KgQoUGzA3uZnNCNzATAjyuj63KuQofKxW (BTC)
            </span>
            <span>
                LVALdAycYnqt3ZNzwXFRHmRRAChq5FC4em (LTC)
            </span>
            <span>
                49bXfS1AYUw3RqtfoZ23BDXP6y3jAiJEic1wc87nbNGELZLMgYK6wotQNTFQxJppiQh4prGKxtPCqezRqHv6RwJ53DW2N8N (XMR)
            </span>
        </h3>
    </div>
</div>